.Wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: max-content;
}
.ProfilePic {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: filter 0.25s ease-out;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.ProfilePic:hover {
	cursor: pointer;
	filter: contrast(70%);
}
.User {
	position: relative;
	display: flex;
}
.Username {
	text-transform: capitalize;
	font-size: 1.1rem;
}
